.login-card.card {
  width: 20rem;
  height: 15rem;
  margin: 1rem auto;
  background-color: #b2b2b2;
  color: #3c4048;
}

.signup-link {
  color: #3c4048;
}

.signup-link:hover {
  color: #00abb3;
}

.login-button {
  background-color: #00abb3;
  border-color: #b2b2b2;
  color: #3c4048;
}
