.login-card.card {
  width: 18rem;
  height: 15rem;
  margin: 1rem auto;
  background-color: #00abb3;
  color: #3c4048;
}

.signup-link {
  color: #3c4048;
}

.signup-link:hover {
  color: #eaeaea;
}

.user-button {
  background-color: #3c4048;
  border-color: #b2b2b2;
  color: #eaeaea;
}

.user-button:hover {
  color: #3c4048;
  background-color: #eaeaea;
}

@media (min-width: 1000px) and (min-height: 400px) {
  .login-card.card {
    width: 22rem;
    height: 20rem;
    margin: 2rem auto;
    background-color: #00abb3;
    color: #3c4048;
  }
  .user-input,
  .user-button,
  .signup-link {
    font-size: 1.2rem;
  }
  .title {
    font-size: 1.7rem;
  }
}
