.dropdown-toggle::after {
  display: none;
}

.nav-links {
  color: #eaeaea;
}

.nav-links:hover {
  color: #00abb3;
}

.logout-button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 15px;
}
.toggle-button {
  background-color: #b2b2b2;
}

@media (min-width: 1000px) {
  .nav-links {
    font-size: 1.1rem;
  }
}

@media (min-width: 1800px) {
  .nav-links {
    font-size: 1.3rem;
  }
}
