.footer {
  position: relative;
  width: 100%;
  margin-top: 5%;
  background-color: black;
}

.footer-links {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
}

.footer-links:hover {
  color: #3ea6d2;
}
