.topic-card {
  background-color: #00abb3;
  color: #eaeaea;
  height: 5rem;
  margin: 1rem 1rem;
  text-align: center;
}

.topic-card:hover {
  background-color: #3c4048;
}

.planetcard-text {
  margin-top: -15%;
}

.card-image {
  display: block;
  margin-left: auto;
  width: 50px;
}
