.card {
  background-color: #3ea6d2;
  color: white;
  height: 5rem;
  margin: 1rem 1rem;
}
.text {
  position: relative;
  bottom: 30px;
}
.card-img {
  display: block;
  margin-left: auto;
  width: 50px;
}
