.topic-card {
  background-color: #00abb3;
  color: #eaeaea;
  height: 5rem;
  margin: 1rem 1rem;
}

.topic-card:hover {
  background-color: #3c4048;
}

.text {
  position: relative;
  bottom: 30px;
}
.card-img {
  display: block;
  margin-left: auto;
  width: 50px;
}
